<%- include("./header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orderöversikt</title>
</head>
<body>
    <h1>Created orders</h1>
<div>Total orders: <%= orders.length %></div>
<ul>
    <% orders.forEach(order => { %>
        <li>
            <div>Order ID: <a href="/eshop/order/<%= order.Bestallnings_id %>"><%= order.Bestallnings_id %></a></div>
            <div>Customer ID: <%= order.kund_id %></div>
            <div>Number of products: <%= order.antal %></div>
            <div>Datum: <%= order.datum %></div>
            <div>Status: <%= order.order_status %></div>
        </li>
    <% }); %>
</ul>
<%- include("./footer.ejs") %>
</body>
</html>
